.post-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-snippet {
  margin-top: 16px;
  color: #555;
  line-height: 1.5;
}

.comment-count {
  font-size: 0.8rem;
  color: #888;
  margin-left: 16px;
  align-self: center;
}

mat-card-actions {
  margin-top: auto;
}